/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.mother-app {
  min-height: 100%;
  /*position: relative;*/
  margin: 0 auto;
  background-color: magenta;
}


.mother-app .main-container {
  padding-top: 46px;
  /*max-width: 1240px;*/
  background-color: lightgray;
  z-index: 100;
}

header {
  height: 46px;
  width: 100%;
  position: fixed;
  top: 0%;
  z-index: 200;
}
footer {
  height: 46px;
  width: 100%;
  position: fixed;
  bottom: 0%;
}
