html, body, div, p, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}



/* This is useful when implementing a grid system so that all image elements
will take up 100% width of their containers */
img {
  width: 100%
}
