.track-index-item-li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-index-item-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-profile-pic {
  width: 160px;
  height: 160px;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
}

.track-controls {
  display: flex;
}

.track-item-wo-pic {
  padding-left: 25px;
  display: flex;
  flex-direction: column;
}

.track-select-play {
  /*color: #463f72;*/
  margin-left: 10px;
  margin-right: 20px
}

.track-details {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.track-details * {
  text-decoration: none;
}

.user-track-artist:hover {
  color: #424242;
}

.user-track-title:hover {
  color: black;
}

.user-track-artist {
  font-size: 12px;
  color: #999;
}

.user-track-title {
  font-size: 15px;
  color: #333;
}

.track-waveform-box {
  height: calc(160px - 48px);
  width: auto;
}

.track-waveform {
  height: 100%;
  width: auto;
}


.tracks-or-listens-list li {
  margin-top: 15px;
  display: flex;
}


.track-button-box {
  padding-right: 50px;
  cursor: pointer;
  visibility: hidden;
}
.track-button-box * {
  margin-right: 75px;
}

.track-index-item-li:hover .track-button-box {
  visibility: visible;
}
