.tracks-or-listens-index {
  margin: 20px 0;
}

.selected-profile-pic {
  width: 160px;
  box-shadow: rgba(0,0,0,.1)0 0 0 1px inset;
  height: auto;
}

.track-controls {
  display: flex;
}

.fa-play-circle {
  /*color: #463f72;*/
  margin-left: 10px;
  margin-right: 20px
}

.track-details {
  padding-top: 10px;
  font-family: Interstate, "Lucida Grande", Arial, sans-serif;
}

.user-track-artist {
  font-size: 12px;
  color: #999;
}

.user-track-title {
  font-size: 15px;
  color: #333;
}

.waveform {
  padding-top: 10px
}


.tracks-or-listens-list li {
  margin-bottom: 15px;
  /*height: 300px;*/
  display: flex;
}
