

.user-header {
  height: 260px;
  background: linear-gradient(315deg, rgb(250, 250, 250) 0%, rgb(98, 98, 98) 100%);
}

.user-header h1 {
  display: inline;
  padding: 9px;
  font-size: 24px;
  font-family: 'Inder', sans-serif;
  background-color: black;
  color: white;
  position: relative;
  left: 205px;
  top: 40px;
}
.user-header .user-image-container {
  width: 200px;
  height: 200px;
  position: relative;
  /*top: 50%;*/
  /*transform: translate(-50%, 0);*/
}
.user-image-container .user-image {
  width: 100%;
  height: auto;
}

.tracks-or-listens {
  margin-bottom: 0;
}

.user-page .tracks-or-listens {
  background-color: #f5edff;

}

.tracks-or-listens-links {
  font-family: system-ui;
  height: 33px;
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  padding: 10px 25px 0px 25px;
  border-bottom: 1px solid #dac5f3;
}

.tracks-or-listens-links a {
  height: 100%;
  background-color: transparent;
  color: black;
  cursor: pointer;

}
.tracks-or-listens-links a:hover {
  border-bottom: 2px solid #463f72;
}

.tracks-or-listens-index {
  /*margin-top: 10px;*/
  padding: 10px 0;
  /*border: 2px solid black;*/
}

.tracks-or-listens-index .selected-profile-pic {
  width: 150px;
  height: auto;
}




.tracks-or-listens-list li {
  height: 300px;
  display: flex;
}
