
.welcome-greeting {
  background-color: dimgray;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url("https://s3-us-west-1.amazonaws.com/noise-nimbus-dev/defaults/concert.jpeg") no-repeat center center;
  background-size: cover;
}

.connect-demo {
max-width: 500px;
display: flex;
justify-content: flex-end;
align-items: center;
flex-direction: column;
font-weight: 300;
}
.connect-demo > * {
  margin-top: 25px;
}


.connect, .discover {
  color: white;
  text-align: center;
}

.connect {
  font-size: 36px;
}

.discover {
  font-size: 18px;
}

.demo-login {
  outline: 0;
  color: white;
  background-color: #7251c8;
  border-radius: 3px;
  border-color: #7251c8;
  font-size: 18px;
  font-weight: 300;
  height: 46px;
  width: 210px;
}

.search-or-upload {
  display: flex;
  align-items: center;
  padding: 49px 180px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.or {
  color: #4a4a4a;
}

.welcome-upload {
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: white;
  font-size: 14px;
  height: 46px;;
  width: 169px;
}

.pending {
  background-color: lightblue;
  height: 600px;
}
