<!DOCTYPE html>
<html>
  <head>
    <title>NoiseNimbus</title>
    <!-- ATTRIBUTED TO http://fontawesome.io/ -->
    <script src="https://use.fontawesome.com/2828281c6f.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Ubuntu" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
