<!DOCTYPE html>
<html>
  <head>
    <title>NoiseNimbus</title>
    <script src="https://use.fontawesome.com/2828281c6f.js"></script>
    <!-- <link href="https://fonts.googleapis.com/css?family=Inder|Permanent+Marker|Quantico|Righteous" rel="stylesheet"> -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
